.wrapper {
    margin-bottom: 8px;
}

.input {
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    width: 100%;
    font-family: Montserrat;
}