.button {
    margin: 0 auto;
    border: 1px solid #1363f9;
    background: transparent;
    color: #1363f9;
    transition: all 0.15s ease-out;
    font-family: Montserrat;
    max-width: 285px;
    cursor: pointer;
    opacity: 1;
    padding: 10px 15px;
    border-radius: 8px;
}

.button:hover {
    color: white;
    background: #1363f9;
    transition: all 0.15s ease-out;
}

.button:active {
    opacity: 0.9;
}