.notifyWrapper {
    border-radius: 8px;
    max-width: 350px;
    height: 120px;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.error {
    color: rgb(190, 0, 0);
    font-family: "Montserrat", sans-serif;
}

.warning {
    color: goldenrod;
    font-family: "Montserrat", sans-serif;
}

.type {
    margin: 0;
}

.message {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 8px;
    margin-bottom: 0px;
}

.open {
    transform: translateY(0px);
}

.close {
    transform: translateY(350px);
}