.wrapper {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #000;
}

.items {
    display: flex;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerItem {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 0;
    margin-right: 5px;
}

.logo {
    font-family: Fuggles;
    color: black;
    margin: 0;
}